In [61]:
import pandas as pd
import numpy as np

from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVR, SVC

In [90]:
#get dataset
dataset = pd.read_csv('train.csv')

#extract columns (features) for evaluation
columns = pd.DataFrame(columns=['name','description', 'valid'] )
columns.name = dataset.columns.values

# Get decsriptions from https://www.kaggle.com/c/costa-rican-household-poverty-prediction/data
column_descs = {'Id' : 'Unique identifier for each row',
'v2a1' : 'Monthly rent payment',
'hacdor' : '=1 Overcrowding by bedrooms',
'rooms' : ' number of all rooms in the house',
'hacapo' : '=1 Overcrowding by rooms',
'v14a' : '=1 has bathroom in the household',
'refrig' : '=1 if the household has refrigerator',
'v18q' : 'owns a tablet',
'v18q1' : 'number of tablets household owns',
'r4h1' : 'Males younger than 12 years of age',
'r4h2' : 'Males 12 years of age and older',
'r4h3' : 'Total males in the household',
'r4m1' : 'Females younger than 12 years of age',
'r4m2' : 'Females 12 years of age and older',
'r4m3' : 'Total females in the household',
'r4t1' : 'persons younger than 12 years of age',
'r4t2' : 'persons 12 years of age and older',
'r4t3' : 'Total persons in the household',
'tamhog' : 'size of the household',
'tamviv' : 'number of persons living in the household',
'escolari' : 'years of schooling',
'rez_esc' : 'Years behind in school',
'hhsize' : 'household size',
'paredblolad' : '=1 if predominant material on the outside wall is block or brick',
'paredzocalo' : '"=1 if predominant material on the outside wall is socket (wood,  zinc or absbesto"',
'paredpreb' : '=1 if predominant material on the outside wall is prefabricated or cement',
'pareddes' : '=1 if predominant material on the outside wall is waste material',
'paredmad' : '=1 if predominant material on the outside wall is wood',
'paredzinc' : '=1 if predominant material on the outside wall is zink',
'paredfibras' : '=1 if predominant material on the outside wall is natural fibers',
'paredother' : '=1 if predominant material on the outside wall is other',
'pisomoscer' : '"=1 if predominant material on the floor is mosaic,  ceramic,  terrazo"',
'pisocemento' : '=1 if predominant material on the floor is cement',
'pisoother' : '=1 if predominant material on the floor is other',
'pisonatur' : '=1 if predominant material on the floor is  natural material',
'pisonotiene' : '=1 if no floor at the household',
'pisomadera' : '=1 if predominant material on the floor is wood',
'techozinc' : '=1 if predominant material on the roof is metal foil or zink',
'techoentrepiso' : '"=1 if predominant material on the roof is fiber cement,  mezzanine "',
'techocane' : '=1 if predominant material on the roof is natural fibers',
'techootro' : '=1 if predominant material on the roof is other',
'cielorazo' : '=1 if the house has ceiling',
'abastaguadentro' : '=1 if water provision inside the dwelling',
'abastaguafuera' : '=1 if water provision outside the dwelling',
'abastaguano' : '=1 if no water provision',
'public' : '"=1 electricity from CNFL,  ICE,  ESPH/JASEC"',
'planpri' : '=1 electricity from private plant',
'noelec' : '=1 no electricity in the dwelling',
'coopele' : '=1 electricity from cooperative',
'sanitario1' : '=1 no toilet in the dwelling',
'sanitario2' : '=1 toilet connected to sewer or cesspool',
'sanitario3' : '=1 toilet connected to  septic tank',
'sanitario5' : '=1 toilet connected to black hole or letrine',
'sanitario6' : '=1 toilet connected to other system',
'energcocinar1' : '=1 no main source of energy used for cooking (no kitchen)',
'energcocinar2' : '=1 main source of energy used for cooking electricity',
'energcocinar3' : '=1 main source of energy used for cooking gas',
'energcocinar4' : '=1 main source of energy used for cooking wood charcoal',
'elimbasu1' : '=1 if rubbish disposal mainly by tanker truck',
'elimbasu2' : '=1 if rubbish disposal mainly by botan hollow or buried',
'elimbasu3' : '=1 if rubbish disposal mainly by burning',
'elimbasu4' : '=1 if rubbish disposal mainly by throwing in an unoccupied space',
'elimbasu5' : '"=1 if rubbish disposal mainly by throwing in river,  creek or sea"',
'elimbasu6' : '=1 if rubbish disposal mainly other',
'epared1' : '=1 if walls are bad',
'epared2' : '=1 if walls are regular',
'epared3' : '=1 if walls are good',
'etecho1' : '=1 if roof are bad',
'etecho2' : '=1 if roof are regular',
'etecho3' : '=1 if roof are good',
'eviv1' : '=1 if floor are bad',
'eviv2' : '=1 if floor are regular',
'eviv3' : '=1 if floor are good',
'dis' : '=1 if disable person',
'male' : '=1 if male',
'female' : '=1 if female',
'estadocivil1' : '=1 if less than 10 years old',
'estadocivil2' : '=1 if free or coupled uunion',
'estadocivil3' : '=1 if married',
'estadocivil4' : '=1 if divorced',
'estadocivil5' : '=1 if separated',
'estadocivil6' : '=1 if widow/er',
'estadocivil7' : '=1 if single',
'parentesco1' : '=1 if household head',
'parentesco2' : '=1 if spouse/partner',
'parentesco3' : '=1 if son/doughter',
'parentesco4' : '=1 if stepson/doughter',
'parentesco5' : '=1 if son/doughter in law',
'parentesco6' : '=1 if grandson/doughter',
'parentesco7' : '=1 if mother/father',
'parentesco8' : '=1 if father/mother in law',
'parentesco9' : '=1 if brother/sister',
'parentesco10' : '=1 if brother/sister in law',
'parentesco11' : '=1 if other family member',
'parentesco12' : '=1 if other non family member',
'idhogar' : 'Household level identifier',
'hogar_nin' : 'Number of children 0 to 19 in household',
'hogar_adul' : 'Number of adults in household',
'hogar_mayor' : '# of individuals 65+ in the household',
'hogar_total' : '# of total individuals in the household',
'dependency' : 'Dependency rate, calculated = (number of members of the household younger than 19 or older than 64)/(number of member of household between 19 and 64)',
'edjefe' : 'years of education of male head of household, based on the interaction of escolari (years of education), head of household and gender, yes=1 and no=0',
'edjefa' : 'years of education of female head of household, based on the interaction of escolari (years of education), head of household and gender, yes=1 and no=0',
'meaneduc' :'average years of education for adults (18+)',
'instlevel1' : '=1 no level of education',
'instlevel2' : '=1 incomplete primary',
'instlevel3' : '=1 complete primary',
'instlevel4' : '=1 incomplete academic secondary level',
'instlevel5' : '=1 complete academic secondary level',
'instlevel6' : '=1 incomplete technical secondary level',
'instlevel7' : '=1 complete technical secondary level',
'instlevel8' : '=1 undergraduate and higher education',
'instlevel9' : '=1 postgraduate higher education',
'bedrooms' : 'number of bedrooms',
'overcrowding' : '# persons per room',
'tipovivi1' : '=1 own and fully paid house',
'tipovivi2' : '"=1 own,  paying in installments"',
'tipovivi3' : '=1 rented',
'tipovivi4' : '=1 precarious',
'tipovivi5' : '"=1 other(assigned,  borrowed)"',
'computer' : '=1 if the household has notebook or desktop computer',
'television' : '=1 if the household has TV',
'mobilephone' : '=1 if mobile phone',
'qmobilephone' : '# of mobile phones',
'lugar1' : '=1 region Central',
'lugar2' : '=1 region Chorotega',
'lugar3' : '=1 region PacÃƒÂ­fico central',
'lugar4' : '=1 region Brunca',
'lugar5' : '=1 region Huetar AtlÃƒÂ¡ntica',
'lugar6' : '=1 region Huetar Norte',
'area1' : '=1 zona urbana',
'area2' : '=2 zona rural',
'age' : 'Age in years',
'SQBescolari' : 'escolari squared',
'SQBage' : 'age squared',
'SQBhogar_total' : 'hogar_total squared',
'SQBedjefe' : 'edjefe squared',
'SQBhogar_nin' : 'hogar_nin squared',
'SQBovercrowding' : 'overcrowding squared',
'SQBdependency' : 'dependency squared',
'SQBmeaned' : 'square of the mean years of education of adults (>=18) in the household',
'agesq' : 'Age squa',
'Target' : 'Target is an ordinal variable indicating groups of income levels (1,2,3,4)'}

#add descrpitions to columns DataFrame
columns['description'] = columns['name'].map(column_descs)

#add dtypes to columns DataFrame
columns['dtype'] = columns['name'].map(dataset.dtypes)

#Start with the assumption that all columns are valid
columns['valid'] = 1

columns['droped_reason'] = np.nan

columns.head()

     name                        description  valid    dtype  droped_reason
0      Id     Unique identifier for each row      1   object            NaN
1    v2a1               Monthly rent payment      1  float64            NaN
2  hacdor        =1 Overcrowding by bedrooms      1    int64            NaN
3   rooms   number of all rooms in the house      1    int64            NaN
4  hacapo           =1 Overcrowding by rooms      1    int64            NaN

In [111]:
#Function to set valid column to 0 & add reason
def invalidate_column(name, reason):
    columns.loc[columns['name'] == name, 'valid'] = 0
    columns.loc[columns['name'] == name,'droped_reason'] = reason
    
#Function to set valid column to 1 & remove reason for being dropped
def revalidate_column(name):
    columns.loc[columns['name'] == name,'valid'] = 1
    columns.loc[columns['name'] == name, 'droped_reason'] = np.nan

#Function to print full dataframes
def print_full(x):
    pd.set_option('display.max_rows', len(x))
    print(x)
    pd.reset_option('display.max_rows')

    
invalidate_column('Id', 'Id has no logical correlation with povety')
invalidate_column('tamhog', 'tamhog is a duplicate of r4t3')

# print_full(columns)
columns['tamhog']

,name,description,valid,dtype,droped_reason
0,Id,Unique identifier for each row,0,object,Id has no logical correlation with povety
1,v2a1,Monthly rent payment,1,float64,NaN
2,hacdor,=1 Overcrowding by bedrooms,1,int64,NaN
3,rooms,number of all rooms in the house,1,int64,NaN
4,hacapo,=1 Overcrowding by rooms,1,int64,NaN
5,v14a,=1 has bathroom in the household,1,int64,NaN
6,refrig,=1 if the household has refrigerator,1,int64,NaN
7,v18q,owns a tablet,1,int64,NaN
8,v18q1,number of tablets household owns,1,float64,NaN
9,r4h1,Males younger than 12 years of age,1,int64,NaN
10,r4h2,Males 12 years of age and older,1,int64,NaN
11,r4h3,Total males in the household,1,int64,NaN
12,r4m1,Females younger than 12 years of age,1,int64,NaN
13,r4m2,Females 12 years of age and older,1,int64,NaN
14,r4m3,Total females in the household,1,int64,NaN
15,r4t1,persons younger than 12 years of age,1,int64,NaN
16,r4t2,persons 12 years of age and older,1,int64,NaN
17,r4t3,Total persons in the household,1,int64,NaN
18,tamhog,size of the household,0,int64,tamhog is a duplicate of r4t3
19,tamviv,number of persons living in the household,1,int64,NaN
20,escolari,years of schooling,1,int64,NaN
21,rez_esc,Years behind in school,1,float64,NaN
22,hhsize,household size,1,int64,NaN
23,paredblolad,=1 if predominant material on the outside wall...,1,int64,NaN
24,paredzocalo,"""=1 if predominant material on the outside wal...",1,int64,NaN
25,paredpreb,=1 if predominant material on the outside wall...,1,int64,NaN
26,pareddes,=1 if predominant material on the outside wall...,1,int64,NaN
27,paredmad,=1 if predominant material on the outside wall...,1,int64,NaN
28,paredzinc,=1 if predominant material on the outside wall...,1,int64,NaN
29,paredfibras,=1 if predominant material on the outside wall...,1,int64,NaN
...,...,...,...,...,...
113,bedrooms,number of bedrooms,1,int64,NaN
114,overcrowding,# persons per room,1,float64,NaN
115,tipovivi1,=1 own and fully paid house,1,int64,NaN
116,tipovivi2,"""=1 own, paying in installments""",1,int64,NaN
117,tipovivi3,=1 rented,1,int64,NaN
118,tipovivi4,=1 precarious,1,int64,NaN
119,tipovivi5,"""=1 other(assigned, borrowed)""",1,int64,NaN
120,computer,=1 if the household has notebook or desktop co...,1,int64,NaN
121,television,=1 if the household has TV,1,int64,NaN
122,mobilephone,=1 if mobile phone,1,int64,NaN
123,qmobilephone,# of mobile phones,1,int64,NaN
124,lugar1,=1 region Central,1,int64,NaN
125,lugar2,=1 region Chorotega,1,int64,NaN
126,lugar3,=1 region PacÃƒÂ­fico central,1,int64,NaN
127,lugar4,=1 region Brunca,1,int64,NaN
128,lugar5,=1 region Huetar AtlÃƒÂ¡ntica,1,int64,NaN
129,lugar6,=1 region Huetar Norte,1,int64,NaN
130,area1,=1 zona urbana,1,int64,NaN
131,area2,=2 zona rural,1,int64,NaN
132,age,Age in years,1,int64,NaN
133,SQBescolari,escolari squared,1,int64,NaN
134,SQBage,age squared,1,int64,NaN
135,SQBhogar_total,hogar_total squared,1,int64,NaN
136,SQBedjefe,edjefe squared,1,int64,NaN
137,SQBhogar_nin,hogar_nin squared,1,int64,NaN
138,SQBovercrowding,overcrowding squared,1,float64,NaN
139,SQBdependency,dependency squared,1,float64,NaN
140,SQBmeaned,square of the mean years of education of adult...,1,float64,NaN
141,agesq,Age squa,1,int64,NaN
142,Target,Target is an ordinal variable indicating group...,1,int64,NaN

In [127]:
dataset.where(dataset['tamhog'] != (dataset['r4t3'])).dropna()

,Id,v2a1,hacdor,rooms,hacapo,v14a,refrig,v18q,v18q1,r4h1,...,SQBescolari,SQBage,SQBhogar_total,SQBedjefe,SQBhogar_nin,SQBovercrowding,SQBdependency,SQBmeaned,agesq,Target
640,ID_b4f60b5a2,770229.0,0.0,8.0,0.0,1.0,1.0,1.0,2.0,1.0,...,16.0,121.0,9.0,0.0,4.0,1.777778,4.0,289.0,121.0,4.0

In [64]:
dataset_p = dataset.drop(['v2a1', 'v18q1', 'rez_esc', 'Target','Id','idhogar','dependency','edjefe','edjefa'], axis =1)
dataset_p = dataset_p.fillna(0)

dataset_p.isna().sum().sum()

0

In [12]:
targets = dataset['Target']

In [14]:
clf = LogisticRegression()

clf.fit(dataset_p,targets)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [15]:
clf.score(dataset_p,targets)

0.69038401171915875

In [16]:
targets.value_counts()

4    5996
2    1597
3    1209
1     755
Name: Target, dtype: int64